<template id="button-holder">
  <div>
    <button type="button" id="get-button">
      Get current date from server
    </button>
  </div>
</template>

<template id="calendar-holder">
  <div id="calendar"></div>
  <button type="button" id="save-button">
    Send the selected date to the server
  </button>
  <button type="button" id="reload-button">
    Reload page
  </button>
</template>